@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;800&display=swap');

:root {
  --btn-primary-bg-hover: #ee8c1f;
  --dark-gray: #181818;
  --bold-weight: 800;
  --medium-weight: 500;
  --bg-stars: url("../images/bg-stars.png");
  --color-primary: #FF7D00;
  --section-padding-x: 1.5em;
  --section-padding-x-desktop: 5em;
  --nav-link-color:  #FC7F58;
}

::selection {
  background-color: var(--btn-primary-bg-hover);
  color: #000;
}

body {
  font-family: "Spartan", sans-serif;
  color: #A1A0A1;
  font-size: 18px;
  font-weight: var(--medium-weight);
}

a {
  text-decoration: none;
  color: #fff;
}

section {
  background-color: #000;
  padding: 2.8em var(--section-padding-x);
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h1,
h2,
h3 {
  color: #fff;
  line-height: 1.25;
}

p {
  line-height: 1.5;
}

section h2 {
  font-size: 2em;
}

footer {
  background-color: var(--dark-gray);
  padding: 1.5em;
  color: #fff;
}

/* Utilities */
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left: {
  text-align: left !important;
}
.font-weight-bold {
  font-weight: var(--bold-weight);
}
.text-primary {
  color: var(--color-primary);
}
.btn-primary {
  color: #fff;
  background-color: #2A2A2A;
  box-shadow: 10px 10px 32px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 1.25em;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, transform 0.25s ease-in-out;
  text-decoration: none;
}
.btn-primary:hover {
  background-color: var(--btn-primary-bg-hover);
  cursor: pointer;
  transform: translate(0px, -5px);
  color: #000;
}
.btn-primary:active {
  background-color: var(--btn-primary-bg-hover);
}
.bg-stars {
  background: var(--bg-stars);
  background-image: var(--bg-stars);
  background-size: cover;
  background-repeat: no-repeat;
}
.text-show-desktop {
  display: none;
}
/* /utilities */

/* General */
.page-header {
  background-color: var(--dark-gray);
  padding: 0.75em;
  display: flex;
  justify-content: space-between;
}
.page-header .hamburger-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.page-header nav.show {
  position: fixed;
  display: flex;
  background-color: var(--dark-gray);
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  padding-top: 1.2em;
  z-index:  9999;
}
.page-header nav.show a {
  margin: 0 auto;
  font-size: 1.5em;
  line-height: 1.5;
  display: block;
  border-bottom: 3px solid #555;
  width: 80%;
  text-align: center;
  padding-bottom: 0.28em
}
.page-header nav.show a:active,
.page-header nav.show a:hover {
  border-color: var(--nav-link-color);
  color: var(--nav-link-color);
}
.page-header nav.show a:not(:last-of-type) {
  margin-bottom: 1.8em
}
.page-header nav.show button {
  font-size: 1em;
  text-transform: uppercase;
  padding: 1em;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  display: block;
  margin-left: auto;
  margin-bottom: 1em;
  margin-right: .5em;
}
.page-header .logo {
  width: 50px;
  height: auto;
}
.page-header .logo-text,
.page-header nav {
  display: none;
}
.hero {
  background-color: #000;
}
.hero h1 {
  line-height: 50px;
  letter-spacing: 0.04em;
  font-weight: var(--bold-weight);
  font-size: 2.5em;
  color: #fff;
}
.hero .logo {
  display: block;
  width: 70%;
  height: auto;
  margin: 0 auto;
}
.hero {
  min-height: 500px;
}
.hero .subsection {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.hero .subsection .paper-link {
  margin: 0 auto;
  max-width: 70%;
}

.waitlist-section h1 {
  font-size: 2.5em;
}

.tokenomics-section h2,
.community-section h2 {
  margin-right: auto;
  font-weight: var(--medium-weight);
}
.community-link-subsection {
  display: flex;
}
.community-link {
  display: flex;
  align-items: center;
  font-size: 0.7em;
  color: #55acee;

  justify-content: space-evenly;
  transition: color 0.2s ease-in-out, filter 0.2s ease-in-out;
  filter: grayscale(1);
}
.community-link-subsection {
  width: 100%;
}
.community-link span {
  display: none;
}
.community-link:not(:last-of-type) {
  margin-right: 2.5em;
}
.community-link:hover {
  filter: grayscale(0);
}
.community-link img {
  width: 35px;
  height: auto;
  order: 0;
}
.community-section {
  background-color: var(--dark-gray);
  min-height: 200px;
}
/* /general */

@media (min-width: 480px) {
  .hero .logo {
    width: 70%;
  }
}

@media (min-width: 768px) {
  section:not(.roadmap-section) {
    padding-right: var(--section-padding-x-desktop);
    padding-left: var(--section-padding-x-desktop);
  }

  .bg-stars {
    background-attachment: fixed;
  }

  .tokenomics-section h2:before,
  .community-section h2:before {
    content: '';
    height: 5px;
    background-color: #A8A8A8;
    display: block;
    border-radius: 5px;
    margin-bottom: 8px;
  }

  .hero {
    flex-direction: row;
    min-height: 600px;
  }
  .hero .logo {
    order: 2;
  }
  .hero .subsection *:not(.paper-link) {
    text-align: left;
    max-width: 95%;
  }
  .hero .subsection .paper-link {
    margin: 0 auto 0 0;
  }
  .community-link {
    padding: 0.75em;
    border: 1px solid #414141;
    width: 125px !important;
    border-radius: 8px;
    filter: grayscale(0);
  }
  .community-link:hover,
  .community-link:active {
    filter: grayscale(1);
    color: #fff;
  }
  .community-link span {
    display: inline;
  }
  .community-link:not(:last-of-type) {
    margin-right: 1.75em;
  }
  .community-section {
    padding-bottom: 1em;
  }
  .community-section-content {
    display: flex;
  }
  .community-section-heading {
    width: 75%;
  }
  .community-section-heading h2 {
    width: 6em;
  }
  .community-section-content p {
    width: 75%;
  }
  .community-subsection {
    display: block !important;
    margin-top: 2em;
  }
  .community-section .community-content {
    margin-bottom: 4em;
  }

  .page-header {
    padding: 0;
  }
  .page-header nav {
    display: flex;
    height: 100%;
  }
  .home-link {
    padding-top: 1em;
    padding-left: var(--section-padding-x-desktop);
  }
  .page-header nav a {
    padding: 1.75em 1em;
    transition: color 0.2s ease-in-out;
    font-size: 0.8em;
  }
  .page-header nav a:hover {
    color: var(--nav-link-color);
  }
  .page-header nav a:after {
    content: '';
    width: 0;
    height: 2px;
    display: block;
    border-radius: 120%;
    margin: 0.5em auto 0 auto;
    transition: background-color 0.2s ease-in-out, width 0.3s ease-in;
  }
  .page-header nav a:hover:after {
    width: 70%;
    background-color: var(--nav-link-color);
  }
  .page-header nav a:last-of-type {
    padding-right: var(--section-padding-x-desktop)
  }
  .page-header nav button,
  .hamburger-btn {
    display: none;
  }
}

@media (min-width: 992px) {
  .text-show-mobile {
    display: none;
  }
  .text-show-desktop {
    display: block;
  }
}
